<div class="">
  <div class="border-b border-gray-200 px-8 py-5">
    <h2 class="text-2xl font-bold text-gray-800">Ajouter un Collaborateur</h2>
    <p class="mt-1 text-sm text-gray-600">
      Incluez un nouveau membre dans votre équipe en saisissant ses informations.
    </p>
  </div>
  <form #addcollaborateurForm="ngForm" (ngSubmit)="onaddCollaborateur(addcollaborateurForm)" class="px-8 py-6">
    <div class="space-y-6">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Adresse email</label>
        <input type="email" name="email" id="email" required ngModel
          class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm"
          placeholder="exemple@outlook.com" />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="nom" class="block text-sm font-medium text-gray-700">Nom</label>
          <input type="text" name="nom" id="nom" required ngModel
            class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm"
            placeholder="Nom" />
        </div>
        <div>
          <label for="prenom" class="block text-sm font-medium text-gray-700">Prénom</label>
          <input type="text" name="prenom" id="prenom" required ngModel
            class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm"
            placeholder="Prénom" />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <p-password ngModel name="password" required
            class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm" />
        </div>
        <div>
          <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
          <select [(ngModel)]="Selectedoption2" name="role" id="role"
            class="mt-1 block  border-2 py-2 px-1 border-gray-200 w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm">
            <option selected disabled>Select Role</option>
            <option *ngFor="let option of options2" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="competence" class="block text-sm font-medium text-gray-700">Compétence</label>
          <select [(ngModel)]="Selectedoption" name="competence" id="competence"
            class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm">
            <option *ngFor="let comp of Competence" [ngValue]="comp">{{ comp.titrecompetence }}</option>
          </select>
        </div>
        <div>
          <label for="droitdecongee" class="block text-sm font-medium text-gray-700">Congé</label>
          <input type="number" name="droitdecongee" id="droitdecongee" ngModel
            class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm"
            placeholder="Jours de congé" />
        </div>
      </div>
      <div>
        <label for="about" class="block text-sm font-medium text-gray-700">Description du Collaborateur</label>
        <input type="text" name="about" id="about" ngModel
          class=" py-2 border-2 border-gray-300 px-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#7BB125] focus:ring-indigo-500 sm:text-sm"
          placeholder="Description (optionnel)" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Image de Profil</label>
        <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
          <div class="space-y-1 text-center" *ngIf="!previewUrl">
            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
              aria-hidden="true">
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="flex text-sm text-gray-600">
              <label for="file-upload"
                class="relative cursor-pointer rounded-md bg-white font-medium text-[#7BB125] focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>Upload a file</span>
                <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="selectFile($event)"
                  accept="image/*">
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
          </div>
          <div *ngIf="previewUrl" class="flex items-center justify-center w-full">
            <img [src]="previewUrl" alt="Preview" class="h-32 w-32 object-cover rounded-full shadow-lg">
          </div>
        </div>
      </div>
    </div>

  </form>
</div>