<div class=" flex flex-col w-[450px] pb-8  bg-gray-200">


  <div class="justify-between  bg-gray-200 pt-4" style="display: flex; flex-direction: column">
    <!-- Top Bar -->



    <ul class=" pt-4">
      <li *ngFor="let Collaborateur of collaborateurs" class="my-3">
        <div
          class=" flex justify-between items-center bg-white hover:shadow-lg transition-all duration-150 hover:mb-8 hover:bg-gray-200 py-2 px-4 rounded-lg shadow-md">
          <div class="flex items-center ">
            <img src="{{Collaborateur?.imageurl}}" alt="" class="w-10 h-10  bg-black rounded-full ">
            <p class="px-4 ">{{Collaborateur?.nom}} {{Collaborateur?.prenom}} <br> <span
                class="text-lg text-[#7BB125]">{{Collaborateur?.competence?.titrecompetence}}</span> </p>
          </div>


          <button (click)=" AssignCollaborateurToProjet(Collaborateur.id)" type="button" class="flex w-9 justify-center"
            data-bs-toggle="modal" data-bs-target="#AffecterModal">
            <img src="assets/images/adduser.svg" class="h-6 w-6 transition-all ease-in-out hover:h-9 hover:w-9"
              alt="" />
          </button>
        </div>

      </li>
    </ul>

  </div>