<!-- component -->
<div class="h-screen flex">

    <div class="w-[44.5%] relative flex justify-center items-center transition-all duration-300" id="Background">
        <img class="absolute   w-[50%] z-50" src="assets/images/logo.png">
        <div
            class="flex w-full h-full bg-gradient-to-tr opacity-80 from-[#7BB125]  to-[#7BB125] i justify-around items-center">


        </div>
    </div>

    @if(viewlogin){
    <div class="flex w-1/2 justify-center items-center bg-white">
        <form class="  bg-white" (ngSubmit)="login()">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Salut à nouveau !</h1>
            <p class="text-sm font-normal text-gray-600 mb-7">Bienvenue de retour</p>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
                <input class="pl-2 outline-none border-none" type="email" name="email" [(ngModel)]="credentials.email"
                    placeholder="Email Address" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd" />
                </svg>
                <input class="pl-2 outline-none border-none" type="password" name="password"
                    [(ngModel)]="credentials.password" placeholder="Password" />
            </div>
            <button type="submit"
                class="block w-full bg-[#95C151] mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>
            <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Mot de passe oublié ?</span>
            <span (click)="onSwitch()" class="text-sm ml-2 font-bold hover:text-[#95C151]  cursor-pointer">Registrer
                ?</span>
        </form>
    </div>
    }@else {
    <div class="flex w-1/2 justify-center items-center bg-white">
        <form #registerform="ngForm" class=" bg-white" (ngSubmit)="register(registerform)">
            <div class="flex justify-between items-center">
                <h1 class="text-gray-800 font-bold text-2xl mb-1">Register</h1>
                <button (click)="onSwitch()" class=""><svg class="w-5 h-5" fill="#000000" version="1.1" id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 30.725 30.725" xml:space="preserve">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path
                                    d="M24.078,26.457c0.977,0.978,0.977,2.559,0,3.536c-0.488,0.488-1.128,0.731-1.77,0.731c-0.639,0-1.278-0.243-1.768-0.731 L5.914,15.362l14.629-14.63c0.977-0.977,2.559-0.976,3.535,0c0.977,0.977,0.977,2.56,0,3.536L12.984,15.362L24.078,26.457z">
                                </path>
                            </g>
                        </g>
                    </svg></button>
            </div>
            <p class="text-sm font-normal text-gray-600 mb-7">N'hésitez pas à vous inscrire pour créer un compte</p>
            <div class="flex gap-10">
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4" id="email">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input required class="pl-2 outline-none border-none" type="email" name="email" ngModel
                        placeholder="Email Address" />
                </div>
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4" id="password">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input class="pl-2 outline-none border-none" type="password" name="password" ngModel
                        placeholder="Password" />
                </div>

            </div>
            <div class=" flex gap-10">
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4" id="nom">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input required class="pl-2 outline-none border-none" type="text" name="nom" ngModel
                        placeholder="Nom" />
                </div>
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4" id="prenom">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input required class="pl-2 outline-none border-none" type="text" name="prenom" ngModel
                        placeholder="Prenom" />
                </div>

            </div>
            <div class="flex  gap-10 justify-between">

                <p-dropdown
                    [style]="{'border-width': '2px', 'border-radius': '20px', 'height': '45px', 'width': '100%'}"
                    [options]="listcompetence" class="w-full" [(ngModel)]="SelectedCompetence"
                    [ngModelOptions]="{standalone: true}" required optionLabel="titrecompetence"
                    placeholder="Competence " />
            </div>
            <div class="mt-[26px]">




                <div>
                    <div>
                        <div
                            class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                            <div class="space-y-1 text-center" *ngIf="!previewUrl">
                                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none"
                                    viewBox="0 0 48 48" aria-hidden="true">
                                    <path
                                        d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="flex text-sm text-gray-600">
                                    <label for="file-upload"
                                        class="relative cursor-pointer rounded-md bg-white font-medium text-[#7BB125] focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <input id="file-upload" name="file-upload" type="file" class="sr-only"
                                            (change)="selectFile($event)" accept="image/*">
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                            </div>
                            <div *ngIf="previewUrl" class="flex items-center justify-center w-full">
                                <img [src]="previewUrl" alt="Preview"
                                    class="h-32 w-32 object-cover rounded-full shadow-lg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit"
                class="block w-full bg-[#95C151] mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Register</button>

        </form>


        <p-dialog [modal]="true" [(visible)]="emailsent" [style]="{ width: '50rem' }" class="relative">


            <div class=" w-full h-full flex items-center flex-col gap-3">
                <svg class="w-40 h-40 " version="1.1" id="_x36_" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                    fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <polygon style="fill:#C0874A;"
                                points="511.401,173.663 502.513,179.269 458.244,207.066 268.606,326.073 266.213,327.652 265.699,327.968 256.043,334.048 255.701,334.207 247.753,329.232 246.299,328.284 66.659,215.516 54.439,207.856 0.598,174.057 0,173.663 54.439,139.469 249.548,16.988 261.854,16.988 458.244,140.258 464.74,144.365 ">
                            </polygon>
                            <path style="fill:#69B25F;"
                                d="M467.859,16.065v383.862c0,8.807-7.88,15.985-17.641,15.985H62.29 c-9.671,0-17.551-7.178-17.551-15.985V16.065C44.739,7.176,52.619,0,62.29,0h387.928C459.978,0,467.859,7.176,467.859,16.065z">
                            </path>
                            <g>
                                <g>
                                    <rect x="110.787" y="75.101" style="fill:#A2CC86;" width="190.508" height="25.378">
                                    </rect>
                                    <rect x="110.787" y="71.093" style="fill:#53A654;" width="190.508" height="25.378">
                                    </rect>
                                </g>
                                <g>
                                    <rect x="110.787" y="214.682" style="fill:#A2CC86;" width="289.501" height="25.378">
                                    </rect>
                                    <rect x="110.787" y="210.675" style="fill:#53A654;" width="289.501" height="25.378">
                                    </rect>
                                </g>
                                <g>
                                    <rect x="110.787" y="284.473" style="fill:#A2CC86;" width="289.501" height="25.378">
                                    </rect>
                                    <rect x="110.787" y="280.466" style="fill:#53A654;" width="289.501" height="25.378">
                                    </rect>
                                </g>
                                <g>
                                    <rect x="110.787" y="144.891" style="fill:#A2CC86;" width="289.501" height="25.378">
                                    </rect>
                                    <rect x="110.787" y="140.884" style="fill:#53A654;" width="289.501" height="25.378">
                                    </rect>
                                </g>
                            </g>
                            <polygon style="fill:#F0BA7D;"
                                points="256.299,322.118 253.308,323.881 195.45,357.662 188.356,361.847 12.392,464.583 0.598,471.413 0.598,172.824 71.446,214.169 246.642,316.464 248.009,317.272 256.043,321.971 ">
                            </polygon>
                            <g>
                                <path style="fill:#E5A864;"
                                    d="M510.236,167.293c0.97-0.567,1.764-0.111,1.764,1.013v294.576c0,1.124-0.019,2.027-0.043,2.006 s-0.139-0.103-0.257-0.184c-0.118-0.081-0.291-0.197-0.385-0.257c-0.094-0.061-0.19-0.11-0.214-0.11 c-0.024,0-0.837-0.464-1.807-1.03L265.498,320.993c-0.97-0.566-2.556-1.497-3.524-2.068l-0.839-0.495 c-0.968-0.571-2.452-1.451-3.298-1.956c-0.846-0.505-0.743-1.379,0.229-1.944l6.209-3.604c0.972-0.564,1.825-1.059,1.895-1.099 c0.071-0.04,0.186-0.107,0.257-0.147c0.071-0.04,0.923-0.535,1.895-1.1l5.44-3.161c0.972-0.564,2.56-1.49,3.531-2.057 L510.236,167.293z">
                                </path>
                            </g>
                            <circle style="opacity:0.68;fill:#EEF3CA;" cx="377.142" cy="75.101" r="38.186"></circle>
                            <path style="fill:#C0874A;"
                                d="M512,425.251v45.808h-0.513l-7.35,0.342H27.689l-0.341-7.094 c8.632-5.896,20.082-13.845,27.518-18.887l1.025-0.684l24.956-17.178l38.97-26.92l11.28-7.777l118.365-81.615l7.947-5.556 c1.88-1.195,4.017-2.222,6.324-2.904c2.735-0.941,5.726-1.539,8.717-1.795c1.025-0.086,1.965-0.171,2.991-0.086 c1.025-0.171,2.052-0.171,3.077-0.171c2.735-0.085,5.385,0.171,7.948,0.683c2.734,0.513,5.213,1.369,7.435,2.564l89.735,49.91 l44.354,24.697l11.538,6.41l41.79,23.245l27.518,15.298c0.77,0.428,1.624,0.855,2.479,1.368 C511.487,424.995,511.743,425.166,512,425.251z">
                            </path>
                            <path style="fill:#ECB168;"
                                d="M512,441.404v29.997H0.598v-29.997c8.974-5.471,20.768-12.905,28.459-17.52l1.025-0.684 l25.724-15.98l40.252-24.955l11.623-7.264l122.125-75.805l8.204-5.127c4.273-2.564,9.828-3.846,15.298-3.932 c1.025-0.086,1.965-0.086,2.991,0c1.026-0.086,2.051-0.086,3.077,0c2.393,0,4.701,0.257,6.923,0.769 c3.077,0.599,5.896,1.71,8.29,3.163l11.879,7.349l75.377,46.834l43.073,26.75l11.196,7.007l40.68,25.212l26.748,16.665 c0.77,0.428,1.539,0.854,2.393,1.367c5.47,3.505,12.477,7.864,19.058,11.88C507.385,438.669,509.778,440.122,512,441.404z">
                            </path>
                            <path style="opacity:0.2;fill:#BADB9E;"
                                d="M467.816,16.066v4.273c0-8.887-7.863-16.066-17.605-16.066H62.301 c-9.656,0-17.604,7.178-17.604,16.066v-4.273C44.696,7.178,52.645,0,62.301,0h387.911C459.953,0,467.816,7.178,467.816,16.066z">
                            </path>
                        </g>
                    </g>
                </svg>
                <p class="text-2xl  font-bold">Email Confirmation </p>
                <p class="w-[80%] text-center ">Un email de confirmation a été envoyé à votre adresse. Veuillez vérifier
                    votre boîte de réception et cliquer sur le lien
                    pour valider votre compte. Si vous ne le trouvez pas, vérifiez vos spams.</p>
                <hr>
                <div class="flex ">
                    <p></p> <a href=""></a>
                </div>

            </div>
        </p-dialog>
    </div>
    }
</div>