<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification d'inscription</title>
</head>

<body
    style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f4f4f4;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; text-align: center;">
        <img src="https://www.cimr.ma/file/2015/01/logo-cimr.png" alt="Logo de l'entreprise"
            style="max-width: 200px; margin-bottom: 20px;">
        <h1>Bienvenue chez CIMR </h1>
        <p>Cher(e) [[name]],</p>
        <p style="">Nous sommes ravis de vous accueillir dans notre équipe. Pour finaliser votre
            inscription, veuillez cliquer
            sur le bouton ci-dessous pour vérifier votre adresse e-mail :</p>
        <p>
            <a href="[[URL]]"
                style="display: inline-block; padding: 10px 20px; background-color: #78B51F; color: #ffffff; text-decoration: none; border-radius: 5px; margin: 20px 0;">Vérifier
                mon adresse e-mail</a>
        </p>
        <p>Si le bouton ne fonctionne pas, vous pouvez copier et coller le lien suivant dans votre navigateur :</p>
        <p>[[URL]]</p>
        <p>Cette vérification est une étape importante pour sécuriser votre compte et vous permettre d'accéder à tous
            nos outils collaboratifs.</p>

        <p>Nous sommes impatients de travailler avec vous !</p>
        <p>Cordialement,<br></p>
    </div>
</body>

</html>