<router-outlet (activate)="onOutletActivate()" (deactivate)="onOutletDeactivate()"></router-outlet>

<div *ngIf="isOutletEmpty" class="bg-gray-200 h-screen ">
  <div class="h-auto w-full flex-row bg-gray-200 px-10 pb-10 pl-24">
    <!-- delte Alert  -->

    <p-toast />
    <p-confirmDialog />




    <!-- Add Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content relative">
          <button class="absolute right-7 top-5" data-bs-dismiss="modal">
            <svg class="w-7 h-7" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Menu / Close_MD">
                  <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#afb0b1" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </g>
            </svg>
          </button>
          <app-add-collaborateur></app-add-collaborateur>
          <div class="mb-5 mt-6 flex items-center justify-end gap-5 px-5">
            <button type="button" data-bs-dismiss="modal" class="text-sm font-semibold leading-6 text-gray-900">
              Annuler
            </button>
            <button type="submit" data-bs-dismiss="modal" (click)="onSubmit()"
              class="rounded-md bg-[#7BB125] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Ajouter Collaborateur
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-4">
      <div class="mb-3 ml-10 flex h-16 items-center justify-between gap-5 rounded-lg bg-white px-4 shadow-md">
        <p class="font-bold">Gestion des collaborateurs</p>
        <div class="flex items-center gap-3">
          <input type="search" placeholder="search"
            class="h-8 w-48 rounded-full bg-gray-200 pl-3 text-sm transition-all ease-in-out focus:h-10" />
          <div class="h-10 w-[3px] rounded-xl bg-gray-100"></div>
          <button type="button" class="flex w-9 justify-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <img src="assets/images/adduser.svg" class="h-7 w-7 transition-all ease-in-out hover:h-9 hover:w-9"
              alt="" />
          </button>
          <div class="h-10 w-[3px] rounded-xl bg-gray-100"></div>
          <div class="h-10 w-10 rounded-full bg-gray-200"></div>
        </div>
      </div>

      <!-- Edit Modal -->



      <div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body ">

              <app-edit-collaborateur></app-edit-collaborateur>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div style="flex-direction: row; justify-content: center" class="">
        <!-- Switch item -->
        <div class="flex items-center justify-end pl-10">
          <label class="relative inline-flex cursor-pointer items-center">
            <input id="switch" type="checkbox" class="peer sr-only" (click)="switchviewlist()" />
            <label for="switch" class="hidden"></label>
            <div
              class="peer h-6 w-11 rounded-full border bg-[#7BB125] shadow-lg after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-slate-800 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300">
            </div>
          </label>
        </div>

        <!-- Collaborateurs list element -->

        @if (!showlist) {
        <!-- Test -->
        <div class="mb-10 ml-10 mt-8 overflow-auto rounded-xl shadow-md bg-white">
          <p-table [scrollHeight]="'500px'" class="overflow-y-scroll" [value]="Collaborateurs"
            [tableStyle]="{ 'min-width': '50rem' }" [reorderableColumns]="true">
            <ng-template pTemplate="header">
              <tr class="text-sm">
                <th class="whitespace-nowrap">Nom du collaborateur</th>
                <th class="whitespace-nowrap">Capacitee</th>
                <th class="whitespace-nowrap">Crée le</th>
                <th class="whitespace-nowrap">Charge disponible</th>
                <th class="whitespace-nowrap">Nombre de Projet affecter</th>
                <th class="whitespace-nowrap">Action</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-Collaborateur let-index="rowIndex">
              <tr class="border-[1px] border-gray-200">
                <td class="flex items-center justify-center">
                  <img class="h-10 w-10 rounded-full" src="{{ Collaborateur.collaborateur.image_url }}" alt="" />
                  <div class="px-4">
                    <p class="whitespace-nowrap">{{ Collaborateur.collaborateur.nom }} {{ Collaborateur.prenom }}</p>
                    <p class="text-xs text-[#7BB125]">
                      {{ Collaborateur.collaborateur.email }}
                    </p>
                  </div>
                </td>
                <td>{{ Collaborateur.collaborateur.compentence }}</td>
                <td>{{ Collaborateur.collaborateur.creele }}</td>
                <td>{{ Collaborateur.collaborateur.charge_disponible }}</td>
                <td>{{ Collaborateur.projetCount }}</td>
                <td class="relative">
                  <button (click)="Droptablelistmenu(index)"
                    class="rounded-lg px-1 py-1 text-gray-500 transition-colors duration-200 hover:bg-gray-100 dark:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                    </svg>
                  </button>

                  <!-- Drop down Menu -->

                  <div id="droplist{{ index }}" *ngIf="dropdownstate2[index]"
                    class="absolute right-0  mt-2 rounded-md bg-white opacity-0 shadow-lg transition-all">
                    <div class="flex rounded-lg py-1 hover:bg-gray-100" role="none">
                      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                      <button data-bs-toggle="modal" data-bs-target="#editModal"
                        class="flex justify-between gap-[1.3em] px-4 py-2 text-sm text-gray-700" role="menuitem"
                        tabindex="-1" id="menu-item-0">
                        Edit
                        <svg class="w-[1.4em]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="2"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <path
                              d="M18.9445 9.1875L14.9445 5.1875M18.9445 9.1875L13.946 14.1859C13.2873 14.8446 12.4878 15.3646 11.5699 15.5229C10.6431 15.6828 9.49294 15.736 8.94444 15.1875C8.39595 14.639 8.44915 13.4888 8.609 12.562C8.76731 11.6441 9.28735 10.8446 9.946 10.1859L14.9445 5.1875M18.9445 9.1875C18.9445 9.1875 21.9444 6.1875 19.9444 4.1875C17.9444 2.1875 14.9445 5.1875 14.9445 5.1875M20.5 12C20.5 18.5 18.5 20.5 12 20.5C5.5 20.5 3.5 18.5 3.5 12C3.5 5.5 5.5 3.5 12 3.5"
                              stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </g>
                        </svg>
                      </button>
                    </div>

                    <div class="rounded-lg py-1 hover:bg-gray-100" role="none">
                      <a [routerLink]="['/collaborateurs/viewcollaborateur']"
                        class="flex justify-between gap-2 px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                        id="menu-item-6">View
                        <svg class="w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <circle cx="12" cy="12" r="3" stroke="#33363F" stroke-width="2"></circle>
                            <path
                              d="M20.188 10.9343C20.5762 11.4056 20.7703 11.6412 20.7703 12C20.7703 12.3588 20.5762 12.5944 20.188 13.0657C18.7679 14.7899 15.6357 18 12 18C8.36427 18 5.23206 14.7899 3.81197 13.0657C3.42381 12.5944 3.22973 12.3588 3.22973 12C3.22973 11.6412 3.42381 11.4056 3.81197 10.9343C5.23206 9.21014 8.36427 6 12 6C15.6357 6 18.7679 9.21014 20.188 10.9343Z"
                              stroke="#33363F" stroke-width="2"></path>
                          </g>
                        </svg>
                      </a>
                    </div>

                    <div class="rounded-lg py-1 hover:bg-gray-100" role="none">
                      <p-button (onClick)="confirm2($event,Collaborateur.collaborateur.id)"
                        class="flex justify-between gap-2 px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                        id="menu-item-6">Suprimer
                        <svg class="w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <path d="M10 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                            <path d="M14 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                            <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                            <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </g>
                        </svg>
                      </p-button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="Collaborateurs?.length == 0"
            class="bg-white shadow-md rounded-lg h-[35rem] flex justify-center items-center  ">
            <p class="text-[#7BB125]">Aucune Collaborateur </p>
          </div>
        </div>

        <!--Test -->
        } @else {
        <!-- cards Collaborateurs -->

        <!-- cards Collaborateurs-->
        <div id="cardlist " *ngIf="showlist">
          <div class="ml-10 grid grid-cols-4 gap-10 pb-10">
            <div *ngFor="let Collaborateur of Collaborateurs; let i = index" class="mt-3 rounded-2xl">
              <!-- component -->
              <link rel="preconnect" href="https://fonts.googleapis.com" />
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
              <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
                rel="stylesheet" />

              <section style="font-family: Montserrat" class="flex h-auto items-center justify-center font-medium">
                <section class="mx-auto w-64 rounded-2xl bg-white px-8 py-6 shadow-md">
                  <div class="flex items-center justify-between">
                    <span class="text-sm text-gray-400">2d ago</span>

                    <div class=" inline-block h-8 text-left">
                      <div (click)="dropmenu(i)">
                        <button class="text-[#7BB125]">
                          <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 transition-all ease-in-out hover:h-8 hover:w-8" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                          </svg>
                        </button>
                      </div>

                      <div *ngIf="dropdownstate[i]" id="dropdownmenu{{ i }}"
                        class="duration-420 absolute right-0 z-10 ml-8 w-24 origin-top-right divide-y divide-gray-100 rounded-md bg-white opacity-0 shadow-md ring-1 ring-black ring-opacity-5 transition-all ease-out focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="flex rounded-lg py-1 hover:bg-gray-100" role="none">
                          <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="menu-item-0">Edit</a>
                        </div>
                        <div class="rounded-lg py-1 hover:bg-gray-100" role="none">
                          <a href="#" [routerLink]="[
                                '/collaborateurs/viewcollaborateur',
                              ]" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="menu-item-2">View</a>
                        </div>

                        <div class="rounded-lg py-1 hover:bg-gray-100" role="none">
                          <button href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="menu-item-6">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mx-auto mt-6 w-fit">
                    <img src="{{ Collaborateur?.image_url }}" class="h-28 w-28 rounded-full" alt="profile picture"
                      srcset="" />
                  </div>

                  <div class="mt-8">
                    <h2 class="text-2xl font-bold tracking-wide text-black min-h-16">
                      {{ Collaborateur.nom }} {{ Collaborateur.prenom }}<br />
                      <p class="text-gray-400">
                        {{ Collaborateur?.compentence }}
                      </p>
                    </h2>
                  </div>
                  <p class="mt-2.5 font-semibold text-emerald-400">Active</p>

                  <div class="mt-8 h-1 w-full rounded-full bg-black">
                    <div class="h-1 w-2/5 rounded-full bg-yellow-500"></div>
                  </div>
                  <div class="mt-3 text-sm text-white">
                    <span class="font-semibold text-gray-400">Charge: </span>
                    <span class="text-gray-400">40%</span>
                  </div>
                </section>
              </section>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>